* {
	font-family: arial, sans-serif;
	font-size: 12pt;
}

h2 {
	font-size: 135%;
}

label {
	font-weight: bold;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tbody.money tr td {
	text-align: right;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

span.replacable {
	font-weight: bold;
}

.body {
	width: 65%;
	margin: 0 auto;
}

.column1, .column2, .middle {
	float: left;
	width: 23%;
}

.column1 {
	width: 2.7in;
}

.middle {
	width: .75px;
	background-color: green;
	margin-right: 20px;
	margin-left: 20px;
	height: 900px;
}

.column2 {
	width: 5.6in;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

div.column1 label {
	display: inline-block;
	width: 60px;
	margin-bottom: 3px;
}

div.column1 input, div.column1 select {
	display: inline-block;
	width: 170px;
	margin-bottom: 7px;
}

p {
	text-align: justify;
}